/* HEADER */
.top-header {
    border-top: 10px solid #5384CA;
}

.top-header .container-fluid .row [class*="col-"]{
    padding-left: 0;
    padding-right: 0;
}

.top-row {
    background-color: #5384CA;
}

.top a {
    font: bold 21px/1 'proxima_nova_rgbold', Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 5px 150px 10px 30px;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

#top-lf a {
    background: #5384CA;
    z-index: 5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#top-lf a:after {
    content: "";
    position: absolute;
    top: 0;
    right: -35px;
    width: 0;
    height: 0;
    border-top: 37px solid #5384CA !important;
    border-right: 35px solid transparent;
}

#top-mid a {
    background: #83A1CF;
    z-index: 4;
}

#top-mid a:after {
    content: "";
    position: absolute;
    top: 0;
    right: -35px;
    width: 0;
    height: 0;
    border-top: 37px solid #83A1CF !important;
    border-right: 35px solid transparent;
}

#top-rt a {
    background: #97b1d8;
    z-index: 3;
}
#top-rt a:after {
    content: "";
    position: absolute;
    top: 0;
    right: -35px;
    width: 0;
    height: 0;
    border-top: 37px solid #97b1d8 !important;
    border-right: 35px solid transparent;
}

.nav-link:hover {
    color: yellow;
}

/* .active-top-lf a {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

/* SECOND ROW */
.s-row {
    background-image: url("../images/front-house.jpg");
    /* width: 100%; */
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin: 0;
}

/* THIRD ROW */
.trd-row {
    background-color: #6C6F3B;
    height: 400px;
} 

#event-details-heading {
    float: right;
}

#event-details, #event-location {
    margin-top: 25%;
    margin-left: 50%;
}

.sm-text {
    float: left;
    color: #282921a6;
    font-size: 52px;
    line-height: 106px;
    font-family: 'proxima_novathin', Arial, Helvetica, sans-serif;
    display: inline-block;
}

.bg-text {
    color: #616336;
    font-size: 106px;
    line-height: 1;
    /* margin-left: -26px; */
    font-family: 'proxima_novathin', Arial, Helvetica, sans-serif;
    text-shadow: -3px 2px 1px #282921;
    writing-mode: tb;
    text-orientation: mixed;
    letter-spacing: 0.3em;
}
/* FOURTH ROW */

.frth-row {
    color: white;
    background-color: #282921;
    height: 400px;
}


/* #address-map {
    background-image: url("../../public/images/map-placeholder.jpg");
} */

/* .shadow:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 100%;
    bottom: 0;
    width: 100%;
    height: 50px;
    left: 0;
    right: 0;
    background: -webkit-radial-gradient(50% -3%, ellipse cover, rgba(00, 00, 00, 0.9), rgba(97, 97, 97, 0.0) 50%);
    background: radial-gradient(ellipse at 50% -3%, rgba(00, 00, 00, 0.9), rgba(97, 97, 97, 0.0) 50%);
} */
